body{
    margin: 0px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
#mainbox{
    height: 20vw;
    width: 20vw;
    display: flex;
    padding-top: 7vw;
}
button{
    color: #f9f9f9;
    background: #383232;
    padding: 0.8vw 2vw;
    border-radius: 1vw;
}
h1{
    color: white;
    justify-content: center;
    font-family: 'Syne Mono', monospace;
}
.smallbox{
    height: 6.66vw;
    width: 6.66vw;
    /* background-image: url("download1.jpg"); */
    /* transition: all 1s; */
}
#column1,#column2,#column3{
    display: inline-block;
}
#box1,#box4,#box2,#box5{
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transition: background;
}
#box7,#box8{
    border-right: 3px solid white;
}
#box3,#box6{
    border-bottom: 3px solid white;
}

img{
    height: 6.6vw;
    width: 6.6vw;
}
.smallbox:hover{
    background-color: rgb(25 23 23);
    border-radius: 15%;
}
#scorekeeper{
    padding-top: 3vw;
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 3vw;
}
#person{
    padding-right: 5vw;
    font-size: 2em;
}
#draw{
    padding-right: 5vw;
    font-size: 2em;
}   
#computer{
    font-size: 2em;
}
.score{
    text-align: center;
}